*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.skills--section{
    display: flex;
    padding: 149px 85px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 106px;
}

.skills--section--heading{
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
}

.skills--section--container{
    display: grid;
    justify-content: center;
    align-items: flex-start;
    gap: 42.6px;
    grid-template-columns: repeat(4, 1fr);
}

.skills--section--card{
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex:  1 0 0;
    border-radius: 10px;
    min-height: 250px;
}

.skills--section--card:hover{
    border-bottom: 4px solid ;
}

.skills--section--img{
    display: flex;
    padding: 13px;
    justify-content: center;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
}

.skills--section--card--content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.skills--section--title{
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;

}

.skills--section--description{
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}