/* Global CSS */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}
body{
  background-color: #3aafa9;
  font-family: inter, helvetica, sans-serif;
  color: #feffff;
}
.App{
  width: 550px;
  height: 855px;
  border-radius: 9px;
  background-color: #ffffff;
  position: absolute;
  left: 65px;
  top: 49px;
  border-radius: 0px;
}